{% macro apex_flash() -%}
{%- for flash in flash.get_all() %}
    <div class="alert-message {{ flash['queue'] }}">
        <p>{{ flash['message'] }}</p>
    </div>
{%- endfor -%}
{% endmacro %}
<!DOCTYPE html>
<html>
<head>
  <title>Piktio</title>
  <link rel="stylesheet" type="text/css" href="{{'piktio:static/css/layout.css'|static_path}}">
  <link rel="stylesheet" type="text/css" href="{{'piktio:static/css/style.css'|static_path}}">
  {% block stylesheets %}{% endblock %}
</head>
<body>
  <div class="container">
    <header class="cf">
      <a href="/"><h1 class="main-title">Piktio</h1></a>
      <div class="status-area">
        {% if user %}
        <p> Logged in as </p>
        <p>{{ user.display_name }} (<a href="{{ 'change_name' | route_path }}">change</a>)</p>
        <p><a href="{{ 'apex_logout' | route_path }}">Log out</a></p>
        <p><a href="{{ 'games' | route_path }}">Show Completed Games</a></p>
        {% else %}
        <a href="{{ 'apex_login' | route_path }}">Login</a>
        {% endif %}
      </div>
    </header>
    <section id="content" class="cf">
      {% block body %}{% endblock %}
    </section>
    <footer class="cf">
      <ul class="left-footer cf">
        <li><a href="{{ 'apex_logout' | route_path }}">Log out</a></li>
        <!-- <p><a href="{{ 'home' | route_path }}">Show Completed Games</a></p> -->
      </ul>
      <a class="right-footer" href="{{ 'home' | route_path }}">Help</a>
      <p class="center-footer">Created by Jason</p>
    </footer>
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>
