{% extends "base.html" %}
{% block body %}
<h1 class="section-title">Completed Games</h1>
<input id="url-root" type="hidden" name="url-root" value="{{ 'games' | route_path }}">
<input id="csrf" type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
<input id="follow-route" type="hidden" name="follow-route" value="{{ 'follow' | route_path }}">
{% endblock %}
{% block scripts %}
<script id="game-collection-template" type="text/x-handlebars-template">
  <h1 class="section-title">Completed Games</h1>
  <ul class="game-category-box cf">
    <li class="g-button arrow-left">Newer</li>
    <li id="all-games" class="g-button g-selected">All<br />Games</li>
    {% if user %}
    <li id="my-games" class="g-button">My<br />Games</li>
    <li id="friends-games" class="g-button">Friends&#39;<br />Games</li>
    {% endif %}
    <li class="g-button arrow-right">Older</li>
  </ul>
  <div class="game cf">
    <h3 class="prompt">.</h3>
      <div class="attribution">
        <p>by: </p>
        <p>Follow: <span class="f-button">☐</span></p>
      </div>
      <h3 class="prompt">.</h3>
      <div class="attribution">
        <p>by: </p>
        <p>Follow: <span class="f-button">☐</span></p>
      </div>
      <img height="320" width="320" />
      <div class="attribution">
        <p>by: </p>
        <p>Follow: <span class="f-button">☐</span></p>
      </div>
      <h3 class="prompt">.</h3>
      <div class="attribution">
        <p>by: </p>
        <p>Follow: <span class="f-button">☐</span></p>
      </div>
      <img height="320" width="320" />
      <div class="attribution">
        <p>by: </p>
        <p>Follow: <span class="f-button">☐</span></p>
      </div>
      <h3 class="prompt">.</h3>
      <div class="attribution">
        <p>by: </p>
        <p>Follow: <span class="f-button">☐</span></p>
      </div>
      <p class="timestamp">Completed: </p>
  </div>
  <div class="rating-box"></div>
  <ul class="game-footer-box cf">
    <li class="g-button arrow-left">Newer</li>
    <li><a href="{{ 'home' | route_path }}" class="g-button">Play Again</a></li>
    <li class="g-button arrow-right">Older</li>
  </ul>
</script>
<script id="game-template" type="text/x-handlebars-template">
{% raw %}
  <h3 class="prompt"> {{ subject }}</h3>
  <div class="subject attribution"></div>
  <h3 class="prompt"> {{ predicate }}</h3>
  <div class="predicate attribution"></div>
  <img src="//pikts.piktio.com/{{ first_drawing }}"
       height="320" width="320" />
  <div class="first_drawing attribution"></div>
  <h3 class="prompt">{{ first_description }}</h3>
  <div class="first_description attribution"></div>
  <img src="//pikts.piktio.com/{{ second_drawing }}"
       height="320" width="320" />
  <div class="second_drawing attribution"></div>
  <h3 class="prompt">{{ second_description }}</h3>
  <div class="second_description attribution"></div>
  <p class="timestamp">Completed: {{ time_completed }}</p>
</script>
<script id="user-template" type="text/x-handlebars-template">
  <p>by: {{ display_name }}</p>
  <p>Follow: <span class="f-button"></span></p>
</script>
<script id="rating-template" type="text/x-handlebars-template">
<h1>Current rating: {{ average_score }}</h1>
<fieldset class="rating">
  <legend>Rate:</legend>
  <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Fantastic">5 stars</label>
  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
  <input type="radio" id="star3" name="rating" value="3" checked /><label for="star3" title="Okay">3 stars</label>
  <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kind of bad">2 stars</label>
  <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Terrible">1 star</label>
</fieldset>
</script>
{% endraw %}
<script>
  initial = {{ collection | safe }}
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script type="text/javascript" src="{{'piktio:static/js/games_scripts.js' | static_path}}"></script>
{% endblock %}
