{% extends "base.html" %}
{% block body %}
<h1 class="section-title">Completed Games</h1>
<input id="url-root" type="hidden" name="url-root" value="{{ 'games' | route_path }}">
{% endblock %}
{% block scripts %}
<script id="game-collection-template" type="text/x-handlebars-template">
<h1 class="section-title">Completed Games</h1>
<ul class="game-category-box cf">
  <li class="g-button arrow-left">Newer</li>
  <li id="all-games" class="g-button g-selected">All<br />Games</li>
  {% if user %}
  <li id="my-games" class="g-button">My<br />Games</li>
  <li id="friends-games" class="g-button">Friends'<br />Games</li>
  {% endif %}
  <li class="g-button arrow-right">Older</li>
</ul>
<div class="game cf"></div>
<ul class="game-footer-box cf">
  <li class="g-button arrow-left">Newer</li>
  <li><a href="{{ 'home' | route_path }}" class="g-button">Play Again</a></li>
  <li class="g-button arrow-right">Older</li>
</ul>
</script>
<script id="game-template" type="text/x-handlebars-template">
{% raw %}
<h3 class="prompt"> {{ subject }}</h3>
  <p class="attribution">by: {{ subject_author }}</p>
  <h3 class="prompt"> {{ predicate }}</h3>
  <p class="attribution">by: {{ predicate_author }}</p>
  <div class="canvas-box">
    <img src="//pikts.piktio.com/{{ first_drawing }}"
        height="320" width="320" />
  </div>
  <p class="attribution">by: {{ first_drawing_author }}</p>

  <h3 class="prompt">{{ first_description }}</h3>
  <p class="attribution">by: {{ first_description_author }}</p>
  <div class="canvas-box">
    <img src="//pikts.piktio.com/{{ second_drawing }}"
      height="320" width="320" />
  </div>
  <p class="attribution">by: {{ second_drawing_author }}</p>
  <h3 class="prompt">{{ second_description }}</h3>
  <p class="attribution">by: {{ second_description_author }}</p>
  <p class="timestamp">Completed: {{ time_completed }}</p>
{% endraw %}
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script type="text/javascript" src="{{'piktio:static/js/games_scripts.js' | static_path}}"></script>
{% endblock %}