{% extends "base.html" %}
{% block body %}
<div>
  <h1 class="section-title">Enter the subject of a sentence</h1>
  <h2 class="instructions">Like "The happy brown bear"</h2>
  <div class="gameplay-area cf">
    <textarea id="prompt-entry" rows="3" cols="42", maxlength="72"></textarea>
  </div>
  <button id="submit-text" class="t-button">Submit</button>
  <input id="csrf" type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
  <input id="route" type="hidden" name="route" value="{{ 'subject' | route_path }}">
  <input id="follow-route" type="hidden" name="follow-route" value="{{ 'follow' | route_path }}">
</div>
{% endblock %}
{% block scripts %}
{% raw %}
<script id="text-entry-template" type="text/x-handlebars-template">
  <h1 class="section-title">{{ title }}</h1>
  <h2 class="instructions">{{ instructions }}</h2>
  <div class="gameplay-area cf">
    {{#if drawing }}
    <div class="canvas-box">
      <img src="//pikts.piktio.com/{{ drawing }}"
          height="320" width="320"/>
    </div>
    {{/if }}
    <textarea id="prompt-entry" rows="3" cols="42", maxlength="144"></textarea>
  </div>
  <button id="submit-text" class="t-button">Submit</button>
  {{#if game_id }}
  <h3 class="prev-auth-head">Previous authors on this game:</h3>
  <div class="prev-auth-list cf"></div>
  {{/if }}
{% endraw %}
</script>
{% raw %}
<script id="drawing-template" type="text/x-handlebars-template">
  <h1 class="section-title">{{ title }}</h1>
  <div class="gameplay-area cf">
    <div class="animated-section">
      <h2 class="instructions">{{ instructions }}</h2>
      <div class="canvas-box">
        <canvas id="drawing"></canvas>
      </div>
    </div>
  </div>
  <div class="control-box cf">
    <ul class="button-box cf">
      <li id="undo" class="d-button">Undo</li>
      <li id="clear" class="d-button">Clear</li>
      <li id="toggle-controls" class="d-button">Edit</li>
      <li id="upload" class="d-button">Upload</li>

    </ul>
    <ul class="size-selectors cf">
      <li class="sizer"><div class="selector huge selected"><div></li>
      <li class="sizer"><div class="selector large"></div></li>
      <li class="sizer"><div class="selector medium"></div></li>
      <li class="sizer"><div class="selector small"></div></li>
      <li class="sizer"><div class="selector tiny"></div></li>
    </ul>
    <ul class="color-selectors cf">
      <li class="selector black selected"></li>
      <li class="selector white"></li>
      <li class="selector red"></li>
      <li class="selector yellow"></li>
      <li class="selector blue"></li>
      <li class="selector aqua"></li>
      <li class="selector fuchsia"></li>
      <li class="selector gray"></li>
      <li class="selector green"></li>
      <li class="selector lime"></li>
      <li class="selector maroon"></li>
      <li class="selector navy"></li>
      <li class="selector orange"></li>
      <li class="selector purple"></li>
      <li class="selector silver"></li>
      <li class="selector teal"></li>
    </ul>
  </div>
  {{#if game_id }}
  <h3 class="prev-auth-head">Previous authors on this game:</h3>
  <div class="prev-auth-list"></div>
  {{/if }}
</script>
<script id="user-template" type="text/x-handlebars-template">
  <p>{{ display_name }}</p>
  <p>Follow: <span class="f-button"></span></p>
</script>
{% endraw %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js"></script>
<script type="text/javascript" src="{{'piktio:static/js/gameplay_scripts.js'|static_path}}"></script>
{% endblock %}
